<div style="margin-left: 200px;">

<h2>{{ 'login.title' | translate }}</h2>

<p>Jesteś naszym klientem i nie masz konta? <a>Zarejestruj się</a></p> 


<form [formGroup]="loginForm">

    <mat-form-field>
        <input matInput formControlName="username" placeholder="{{ 'login.username' | translate }}" type="text" required>
        <mat-icon matSuffix>account_box</mat-icon>
        <mat-error *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched">{{ 'login.errorMessages.requiredUsername' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input #password (keyup.enter)="login()" matInput formControlName="password" placeholder="{{ 'login.password' | translate }}" [type]="showPassword? 'text' : 'password'" required>
        <mat-icon matSuffix (click)="showPassword = !showPassword">{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-hint align="end">{{ password.value.length }}</mat-hint>
        <mat-error *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">{{ 'login.errorMessages.requiredPassword' | translate }}</mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="rememberMe">{{ 'login.rememberMe' | translate }}</mat-checkbox>

</form>

<p>{{ 'login.forgot' | translate }}</p>

<p *ngIf="errorMessage$ | async as errorMessage">{{ errorMessage | translate }}</p>

<button mat-raised-button (click)="login()">{{ 'login.login' | translate }}</button>

</div>
